body{
    background-color: skyblue;
}

h1{
    color: brown;
}

p{
    color: rgb(238, 255, 0);
}

ol{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

li{
    color: red;
}